<GridLayout rows="auto, auto, auto, auto" columns="*" backgroundColor="#A0CBB3">
  <Image
    src="~/assets/logo.jpg"
    row="0"
    col="0"
    class="logo"
    width="230dp"
    borderRadius="115dp"
    marginTop="80dp"
    marginBottom="80dp"
  />
  <Label
    text="Welcome to Shopper"
    row="1"
    col="0"
    textAlignment="center"
    fontSize="30dp"
    fontWeight="bold"
    color="#013b3d"
    marginBottom="20dp"
  ></Label>
  <TextView
    text="Fill your cart, follow the trail, and make your shopping faster!"
    row="2"
    col="0"
    color="#013b3d"
    textAlignment="center"
    fontSize="20dp"
  ></TextView>
  <Button
    text="Get Started"
    color="#013b3d"
    backgroundColor="#E8FEFD"
    row="3"
    col="0"
  ></Button>
</GridLayout>
