<GridLayout
  rows="auto, auto, auto, auto"
  columns="*"
  backgroundColor="#A0CBB3"
  class="home-grid"
>
  <Image
    src="~/assets/logo.jpg"
    row="0"
    col="0"
    class="logo"
    width="230"
    borderRadius="115"
  />
  <Label
    text="Welcome to Shopper!"
    row="1"
    col="0"
    textAlignment="center"
  ></Label>
  <Label
    text="Fill your cart, follow the trail, and make your shopping faster!"
    row="2"
    col="0"
    color="black"
    textAlignment="center"
  ></Label>
  <Button
    text="Get Started"
    color="black"
    backgroundColor="#E8FEFD"
    color="black"
    row="3"
    col="0"
  ></Button>
</GridLayout>
