<GridLayout
  rows="auto, auto, auto, auto"
  columns="*"
  backgroundColor="#A0CBB3"
  class="grid"
>
  <Image
    src="~/assets/logo.jpg"
    row="0"
    col="0"
    class="logo"
    width="230dp"
    borderRadius="115dp"
    marginTop="80dp"
    marginBottom="80dp"
  />
  <Label
    text="Welcome to Shopper"
    row="1"
    col="0"
    colSpan="2"
    textAlignment="center"
    fontSize="30dp"
    fontWeight="bold"
    color="#013b3d"
    marginBottom="20dp"
    letterSpacing="0.03dp"
  ></Label>
  <TextView
    text="Fill your cart, follow the trail, and make your shopping faster!"
    color="#013b3d"
    fontSize="20dp"
    row="2"
    col="0"
    textAlignment="center"
    marginBottom="60dp"
    editable="false"
  ></TextView>
  <Button
    text="Get Started"
    color="#013b3d"
    backgroundColor="#E8FEFD"
    fontSize="25dp"
    row="3"
    col="0"
    width="210dp"
    height="70dp"
    borderRadius="25dp"
    fontWeight="400"
    (tap)="goToCategories()"
  ></Button>
</GridLayout>
