.themes {
  background-color: #355d5e; /* Greyish Teal */
  background-color: #e8fffd; /* Light Cyan */
  background-color: #2e8913; /* Green (RYB) */
  background-color: #a0cbb3; /* Light Green */
  background-color: #013b3d; /* Persian Green */
}

.home-grid .logo {
  margin-top: 10%;
  margin-bottom: 10%;
}
