<GridLayout
  columns="*, *"
  rows="auto, auto, auto"
  backgroundColor="#A0CBB3"
  flexDirection="column"
>
  <TextField
    hint="Search"
    colSpan="2"
    row="0"
    backgroundColor="#E8FEFD"
    color="#013b3d"
    fontSize="20dp"
    width="340dp"
    borderRadius="25dp"
    margin="10dp"
    padding="10dp"
    textAlignment="center"
  ></TextField>

  <ScrollView row="1" col="0" colSpan="2" height="675dp" marginTop="20dp">
    <StackLayout col="0">
      <ng-container *ngFor="let product of products">
        <TextView
          [text]="product.name"
          textAlignment="center"
          marginTop="10dp"
          fontSize="20dp"
          editable="false"
          color="#013b3d"
        ></TextView>
      </ng-container>
    </StackLayout>
  </ScrollView>

  <StackLayout
    colSpan="2"
    row="2"
    orientation="horizontal"
    horizontalAlignment="center"
  >
    <Button
      text="Categories"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      padding="20dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goToCategories()"
    ></Button>
    <Button
      text="Home"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      width="100dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goHome()"
    ></Button>
    <Button
      text="Cart"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      borderRadius="25dp"
      width="100dp"
      margin="10dp"
    ></Button>
  </StackLayout>
</GridLayout>
