<GridLayout
  columns="*, *"
  rows="auto, auto, auto"
  backgroundColor="#A0CBB3"
  flexDirection="column"
>
  <TextField
    text="Search"
    colSpan="2"
    row="0"
    backgroundColor="#E8FEFD"
    color="#013b3d"
    fontSize="20dp"
    width="340dp"
    borderRadius="25dp"
    margin="10dp"
    padding="10dp"
    textAlignment="center"
  ></TextField>

  <StackLayout
    colSpan="2"
    row="1"
    orientation="horizontal"
    horizontalAlignment="center"
  >
    <Button
      text="Categories"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      padding="20dp"
      width="140dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goToCategories()"
    ></Button>
    <Button
      text="Home"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      width="80dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goHome()"
    ></Button>
    <Button
      text="Cart"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      borderRadius="25dp"
      width="80dp"
      margin="10dp"
      (tap)="goToCart()"
    ></Button>
  </StackLayout>

  <ScrollView
    row="2"
    col="0"
    colSpan="2"
    height="675dp"
    marginTop="10dp"
    marginBotton="10dp"
  >
    <StackLayout *ngIf="products">
      <ng-container *ngFor="let product of products; let i = index">
        <GridLayout
          rows="auto, auto"
          columns="*"
          margin="10dp"
          padding="10dp"
          borderRadius="10dp"
          horizontalAlignment="center"
        >
          <!-- Pierwszy wiersz: Nazwa produktu -->
          <Label
            text="{{ product.name }}"
            fontSize="20dp"
            fontWeight="bold"
            editable="false"
            color="#013b3d"
            row="0"
            col="0"
            marginBottom="20dp"
          ></Label>

          <!-- Drugi wiersz: Cena za jednostkę i guzik "Add" -->
          <GridLayout
            rows="auto"
            columns="200dp, 100dp"
            row="1"
            col="0"
            colSpan="1"
          >
            <Label
              text="{{ product.price + '$ / ' + product.unit_symbol }}"
              fontSize="20dp"
              editable="false"
              color="#013b3d"
              col="0"
              textAlignment="center"
            ></Label>

            <Button
              text="Add"
              fontSize="20dp"
              marginTop="20dp"
              backgroundColor="#E8FEFD"
              borderRadius="20dp"
              color="#013b3d"
              (tap)="addToCart(product, i)"
              col="1"
              verticalAlignment="center"
            ></Button>
          </GridLayout>
        </GridLayout>
      </ng-container>
    </StackLayout>
  </ScrollView>
</GridLayout>
