<GridLayout
  columns="*, *"
  rows="auto, auto, auto"
  backgroundColor="#A0CBB3"
  flexDirection="column"
>
  <TextField
    text="Search"
    colSpan="2"
    row="0"
    backgroundColor="#E8FEFD"
    color="#013b3d"
    fontSize="20dp"
    width="340dp"
    borderRadius="25dp"
    margin="10dp"
    padding="10dp"
    textAlignment="center"
  ></TextField>

  <ScrollView
    row="1"
    colSpan="2"
    height="675dp"
    marginTop="5dp"
    marginBottom="5dp"
  >
    <StackLayout>
      <ng-container *ngFor="let product of cartProducts">
        <GridLayout
          rows="auto"
          columns="250dp, 120dp"
          margin="10dp"
          padding="10dp"
        >
          <Label
            marginLeft="50dp"
            text="{{ product.name }}"
            fontSize="20dp"
            fontWeight="bold"
            editable="false"
            color="#013b3d"
            textWrap="true"
            row="0"
            col="0"
          ></Label>
          <Button
            row="0"
            col="1"
            text="Delete"
            backgroundColor="#E8FEFD"
            color="#013b3d"
            fontSize="20dp"
            borderRadius="25dp"
            (tap)="deleteFromCart(product.product_id)"
          ></Button>
        </GridLayout>
      </ng-container>
    </StackLayout>
  </ScrollView>

  <StackLayout
    colSpan="2"
    row="2"
    orientation="horizontal"
    horizontalAlignment="center"
  >
    <Button
      text="Categories"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      width="140dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goToCategories()"
    ></Button>
    <Button
      text="Home"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      width="80dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goHome()"
    ></Button>
    <Button
      text="Map"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      borderRadius="25dp"
      width="80dp"
      margin="10dp"
      (tap)="goToMap()"
    ></Button>
  </StackLayout>
</GridLayout>
