<GridLayout
  columns="*, *"
  rows="auto, auto, auto"
  backgroundColor="#A0CBB3"
  flexDirection="column"
>
  <TextField
    text="Search"
    colSpan="2"
    row="0"
    backgroundColor="#E8FEFD"
    color="#013b3d"
    fontSize="20dp"
    width="340dp"
    borderRadius="25dp"
    margin="10dp"
    padding="10dp"
    textAlignment="center"
  ></TextField>

  <ScrollView
    row="1"
    col="0"
    colSpan="2"
    height="675dp"
    marginTop="10dp"
    marginBotton="10dp"
  >
    <GridLayout columns="*, *">
      <StackLayout col="0" margin="10dp" padding="10dp" *ngIf="categories">
        <ng-container
          *ngFor="
            let category of categories.slice(0, categories.length / 2);
            let i = index
          "
        >
          <TextView
            [text]="category.category_name"
            textAlignment="center"
            fontSize="20dp"
            editable="false"
            fontWeight="bold"
            color="#013b3d"
            (tap)="goToProducts(category.category_id)"
          ></TextView>
        </ng-container>
      </StackLayout>
      <StackLayout col="1" margin="10dp" padding="10dp">
        <ng-container
          *ngFor="
            let category of categories.slice(categories.length / 2);
            let i = index
          "
        >
          <TextView
            [text]="category.category_name"
            textAlignment="center"
            fontSize="20dp"
            fontWeight="bold"
            editable="false"
            color="#013b3d"
            (tap)="goToProducts(category.category_id)"
          ></TextView>
        </ng-container>
      </StackLayout>
    </GridLayout>
  </ScrollView>

  <StackLayout
    colSpan="2"
    row="2"
    orientation="horizontal"
    horizontalAlignment="center"
  >
    <Button
      text="Store"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      padding="20dp"
      width="100dp"
      borderRadius="25dp"
      margin="10dp"
    ></Button>
    <Button
      text="Home"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      width="100dp"
      borderRadius="25dp"
      margin="10dp"
      (tap)="goHome()"
    ></Button>
    <Button
      text="Cart"
      backgroundColor="#E8FEFD"
      color="#013b3d"
      fontSize="20dp"
      borderRadius="25dp"
      width="100dp"
      margin="10dp"
      (tap)="goToCart()"
    ></Button>
  </StackLayout>
</GridLayout>
