<ActionBar title="Bluetooth Devices">
  <ActionItem
    text="{{ isScanning ? 'Stop' : 'Search' }}"
    (tap)="scanDevices()"
    ios.position="right"
  ></ActionItem>
</ActionBar>
<ListView [items]="devices">
  <ng-template let-device="item">
    <StackLayout
      [ngClass]="{
        'closest-device': sortedDevices.length > 0 && (device.UUID === sortedDevices[0]?.UUID || device.UUID === sortedDevices[1]?.UUID),
        'device': true
      }"
    >
      <Label text="Name: {{ device.localName }}"></Label>
      <Label text="Mapped Name: {{ macToNameMapping[device.UUID] }}"></Label>
      <Label text="MAC: {{ device.UUID }}"></Label>
      <Label text="RSSI: {{ device.RSSI }}"></Label>
    </StackLayout>
  </ng-template>
</ListView>
